@import '~normalize.css/normalize.css';
@import '../assets/webfonts/fontello/css/fontello.css';

@font-face {
  font-family: 'Grand Hotel';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/webfonts/GrandHotel.woff2') format('woff2');
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../assets/webfonts/roboto.woff2') format('woff2');
}

.app {
  -webkit-app-region: drag;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(-245deg, #00a798 10%, #81a4e0 100%);
  height: calc(100vh - 60px);
  width: 100%;
  padding: 30px 0px;
}

.mainTitle {
  font-family: 'Grand Hotel', cursive;
  color: rgb(255, 255, 255);
  margin: 0px 0 0 0;
  text-align: -webkit-center;
  font-weight: 400;
  font-size: 37px;
  text-shadow: 6px 6px 17px rgba(63, 64, 66, 0.68);
}

.mainSubtext {
  margin: 38px 0 30px 0;
  color: white;
  font-size: 15px;
  letter-spacing: 0.2px;
  font-weight: 600;
  text-align: center;
  text-shadow: 6px 6px 20px rgba(0, 0, 0, 0.42);
}

.musicOptBox {
  padding: 10px 10px 10px 10px;
  background: white;
  margin: 20px 10px;
  border-radius: 7px;
  transition: 0.2s ease;

  &:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    cursor: pointer;
  }
}

.musicOptBox__title {
  color: #00a79d;
  font-size: 21px;
}

.musicOptBox__desc {
  color: #648bcc;
  font-size: 12px;
  padding: 2px 0px;
}

.play-button {
  margin-top: -31px;
  float: right;
  margin-right: 2px;
  font-size: 22px;
  color: #81a4e0;
  transition: .5s all;
  opacity: .5;
}

p {
  margin: 0;
}

.about {
  padding: 15px 0px;
  .musicOptBox {
    background: #303c50;

    &:hover {
      cursor: default;
      box-shadow: none;
    }
    a {
      color: #00d2af;
      text-decoration: none;
    }

    .musicOptBox__title {
      font-size: 30px;
      font-weight: 600;
      color: white;
      margin-bottom: 10px;
    }

    .musicOptBox__desc {
      color: white;
      font-size: 14px;
      margin-top: 10px;
    }
  }
}

.footer-icon {
  font-size: 22px;
  color: rgb(48, 60, 80);
  transition: 0.2s ease;
  padding: 0px 15px;

  &:hover {
    cursor: pointer;
    color: rgb(48, 60, 80);
    transition: 0.5s ease;
  }
}

footer {
  text-align: center;
  color: white;
  position: fixed;
  height: 60px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  z-index: 10;
}
