<div class="app">

  <h1 class="mainTitle">Coffitivity PWA</h1>
  <h3 class="mainSubtext">recreate ambient sounds of cafes to boost your creativity</h3>

  <div *ngFor="let item of playlist" class="musicOptBox" (click)="playAudio(item.audioName)">
    <p class="musicOptBox__title">{{ item.title }}</p>
    <p class="musicOptBox__desc">{{ item.desc }}</p>
    <i class="play-button" [ngClass]="{'icon-play': item.status, 'icon-pause': !item.status}"></i>
  </div>

  <div class="about">
    <div class="musicOptBox">
      <p class="musicOptBox__title">About</p>
      <p class="musicOptBox__desc">I recreate ambient sounds of cafes to boost your creativity, so you can produce
        better work.</p>
      <p class="musicOptBox__desc">
        Coffitivity PWA is base on <a target="_blank" href="https://siwalik.in/coffitivityOffline/">Coffitivity
          Offline</a>
        and <a target="_blank" href="https://coffitivity.com">coffitivity.com</a>.</p>
      <!-- <p class="musicOptBox__desc">
        You can report issues and bugs on <a rel="noreferrer" target="_blank" href="#">Github Issues</a>.</p> -->
    </div>
  </div>

  <footer>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Spread the love" class="footer-icon icon-twitter"></i>
    </a>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Fork on Github" class="footer-icon icon-github-circled"></i>
    </a>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Info" class="footer-icon icon-info-circled-alt"></i>
    </a>
  </footer>

</div>
