<div class="app">

  <h1 class="mainTitle">Coffitivity PWA</h1>
  <h3 class="mainSubtext">recreate ambient sounds of cafes to boost your creativity</h3>

  <div class="musicOptBox" id="murmur" (click)="playAudio('murmur')">
    <p class="musicOptBox__title">Morning Murmur</p>
    <p class="musicOptBox__desc">A gentle hum gets the day going</p>
  </div>

  <div class="musicOptBox" id="lunch" (click)="playAudio('lunch')">
    <p class="musicOptBox__title">Lunchtime Lounge</p>
    <p class="musicOptBox__desc">Busting chatter of the lunchtime rush</p>
  </div>

  <div class="musicOptBox" id="univ" (click)="playAudio('univ')">
    <p class="musicOptBox__title">University Undertones</p>
    <p class="musicOptBox__desc">The scholarly sounds of a campus cafe</p>
  </div>

  <div class="about">
    <div class="musicOptBox">
      <p class="musicOptBox__title">About</p>
      <p class="musicOptBox__desc">I recreate ambient sounds of cafes to boost your creativity, so you can produce
        better work.</p>
      <p class="musicOptBox__desc">
        Coffitivity PWA is base on <a target="_blank" href="https://siwalik.in/coffitivityOffline/">Coffitivity
          Offline</a>
        and <a target="_blank" href="https://coffitivity.com">coffitivity.com</a>.</p>
      <!-- <p class="musicOptBox__desc">
        You can report issues and bugs on <a rel="noreferrer" target="_blank" href="#">Github Issues</a>.</p> -->
    </div>
  </div>

  <footer>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Spread the love" class="footer-icon icon-twitter"></i>
    </a>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Fork on Github" class="footer-icon icon-github-circled"></i>
    </a>
    <a rel="noreferrer" target="_blank" href="#">
      <i title="Info" class="footer-icon icon-info-circled-alt"></i>
    </a>
  </footer>

</div>
